.carousel_titulo {
    padding: 0 0 16px;
}

.carousel {
    position: relative;
    width: 100%;
}

.carousel-famosos {
    width: 100%;
    max-width: 1366px;
    margin: auto;
    padding: 0 30px;
}

.carousel-famosos__wrapper {
    margin-bottom: 64px;
    width: 100%;
}

 .carousel-cozinha__barra {
    padding-top: 20px;
    position: relative;
    padding-bottom: -100px;
 }

.carousel__wrapper {
    width: 100%;
    height: 100%;
    padding: 1px;
}

.owl-prev {
    position: absolute;
    left: 0;
}

.owl-next {
    position: absolute;
    right: 0;
}

.owl-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.owl-one .owl-nav button.owl-next, .owl-one .owl-nav button.owl-prev {
    background-color: white;
    color: #3e3e3e;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid rgb(170, 170, 170);
    width: 40px;
    height: 40px;
    margin-top: -80px;
}

.owl-two .owl-nav button.owl-next, .owl-two .owl-nav button.owl-prev {
    background: white;
    color: #3e3e3e;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid rgb(170, 170, 170);
    width: 40px;
    height: 40px;
}

.owl-three .owl-nav button.owl-next, .owl-three .owl-nav button.owl-prev {
    background: white;
    color: #3e3e3e;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid rgb(170, 170, 170);
    width: 40px;
    height: 40px;
    margin-top: -20px;
}

.owl-nav button.owl-prev {
    left: -25px;
}

.owl-nav button.owl-next {
    right: -25px;
}

.owl-nav:hover button.owl-next:hover {
    background-color: white;
    color: black;
}

.owl-nav:hover button.owl-prev:hover {
    background-color: white;
    color: black;
}