.populares__titulo {
    padding: 0 0 16px;
    font-size: 1.25rem;
}

.restaurantes__conteudo {
    display: grid;
    padding: 1rem 0;
    gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}

.restaurante-card {
    height: 130px;;
    padding: 20px;
    border: 1px solid #f0efef;
    border-radius: 4px;
    margin-bottom: -16px;
    grid-template-columns: 85px 1px 1fr;
    grid-column-gap: 20px;
    cursor: pointer;
}

.restaurante-card:hover {
	border-color: rgb(218, 218, 218);
}

.linha-vertical {
    border-left: 1px solid #f0efef;
    padding-left: 20px;
}

.restaurante-card_imagem {
    width: 85px;
    height: 88px;
}

.restaurante-card__imagem {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
    transition: 200ms;
    object-fit: contain;
}

.img-logo {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
    object-fit: contain;
}

.card-titulo {
    font-size: 1rem;
    color: #3e3e3e;
    font-weight: 500;
    height: 18px;
}

.card-texto {
    color: #717171;
    font-size: 0.875rem;
}

.restaurante-card__img-logo {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
    transition: 200ms;
    object-fit: contain;
}

.restaurante-card__titulo {
    margin: 0;
    padding: 0;
}

.card_item {
    padding-top: 30px;
    width: 405px;
}

.card_imagem {
    border-radius: 4px;
}